
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                    <h2>About PlantSmiles</h2>
                    <p>It's Fun. And smiling is our favorite.</p>
                </header>

                <span class="image featured"><div class="circular"></div></span>

                <p>It all began joking around.  But really it turned into building a tool that I could use every day to help
                find healthy vegetarian food, especially when visiting foreign places.</p>

                <h3>Motivation</h3>
                <p>TODO:FILL MORE CONTENT</p>

                <p></p>
            </article>

        </div>
    </div>
</section>
