
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <div class="4u 12u(narrower)">
                <div id="sidebar">

                    <!-- Sidebar -->

                    <section>
                        <h3>Favorite Recipes</h3>
                        <ul class="links">
                            <li><a href="http://happyherbivore.com/recipe/blueberry-oatmeal-muffins/">Easy Blueberry Muffins</a></li>
                            <li><a href="http://www.foodandwine.com/recipes/roasted-cauliflower-salad-with-lentils-and-dates">Hearty Roasted Cauliflower Salad with Lentils & Dates</a></li>
                            <li><a href="http://minimalistbaker.com/1-hour-vegan-pot-pies/">Comfort Food Fix Vegan Pot Pie</a></li>
                        </ul>
                    </section>

                    <section>
                        <h3>Great Books</h3>
                        <ul class="links">
                            <li><a href="http://www.amazon.com/Oh-She-Glows-Cookbook-Recipes/dp/1583335277/ref=sr_1_1?s=books&ie=UTF8&qid=1426948090&sr=1-1&keywords=oh+she+glows+cookbook">Oh She Glows</a></li>
                            <li><a href="http://www.amazon.com/Happy-Herbivore-Cookbook-Delicious-Fat-Free/dp/1935618121/ref=sr_1_1?s=books&ie=UTF8&qid=1426948419&sr=1-1&keywords=happy+herbivore">Happy Herbivore</a></li>
                            <li><a href="http://www.amazon.com/Engine-Diet-Firefighters-Save-Your-Life-Cholesterol-ebook/dp/B001S7HUIO/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1426951959&sr=1-1&keywords=engine+2+diet">Engine 2 Diet</a></li>
                            <li><a href="http://www.amazon.com/Starch-Solution-Regain-Health-Weight-ebook/dp/B007PF7MGS/ref=sr_1_2?s=digital-text&ie=UTF8&qid=1426952054&sr=1-2&keywords=mcdougall">The Starch Solution</a></li>
                            <li><a href="http://www.amazon.com/Shoshoni-Cookbook-Vegetarian-Recipes-Retreat-ebook/dp/B002S6UNPG/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1426954468&sr=1-1&keywords=shoshoni">Shoshoni Cookbook</a></li>
                        </ul>
                    </section>

                </div>
            </div>
            <div class="8u  12u(narrower) important(narrower)">
                <div id="content">

                    <!-- Content -->

                    <article>
                        <header>
                            <h2>Cook</h2>
                        </header>

                        <p>Once you make the commitment to move to a plant based diet, it can be very easy to jump straight to the aisle of fake meat products in your nearest Whole Foods.  We don’t believe this is necessary to be successful (and believe or not some of those spicy vegan chorizo tubes really aren’t that healthy)! There are many amazing options in both texture that are as simple and affordable as lentils, mushrooms, and baked  tofu.  We will are also strong believers in minimal use of oils in our home cooking so you see us point you to easy ways to “dry fry” or substitute oil for vegetable broth in a lot of our recipies.  </p>

                        <span class="image featured"><img src="images/vegetables.jpg" alt="" /></span>

                        <!--<h3>And Yet Another Subheading</h3>-->
                        <p>At the end of a very exhausted weeknight one go to meal in our home is what we lovingly call “trough mix.”  It is as simple as a bag of frozen mixed vegetable over a blend of brown rice, quinoa, and a can of drained black beans (or lentils) topped with our favorite salsa. Its low calories, high in flavor and an easy replacement when your getting burned out with salads.  We also like lean on salad mixed greens as a base to extend left-overs, replace heavy bases, or round out the trough mix. </p>

                        <p>We know not everyone out there may not be as excited to a giant bowl of raw greens.   This can be an even bigger hurdle when feeding a family with picky children (or lets face it- kale adverse adults). We hit up Costco on a regular basis to buy large bags of fresh kale and spinach then add them in hand fulls to the food processor and pack blocks in an ice cube tray to freeze.  These are easy to pop out to add to sauces, soups, and trough mixes but chopped up small enough that they won’t be all you can taste (or get plucked out by tiny fingers).</p>

                        <p>We have posted some of our go-to recipes from both cookbooks and veggie-loving blogs here.</p>
                    </article>

                </div>
            </div>
        </div>
</section>
