
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <div class="4u 12u(narrower)">
                <div id="sidebar">

                    <!-- Sidebar -->

                    <section>
                        <h3>Favorite Recipes</h3>
                        <ul class="links">
                            <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
                            <li><a href="#">Ornare in hendrerit in lectus</a></li>
                            <li><a href="#">Semper mod quis eget mi dolore</a></li>
                            <li><a href="#">Consequat etiam lorem phasellus</a></li>
                            <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
                            <li><a href="#">Semper mod quisturpis nisi</a></li>
                        </ul>
                    </section>

                    <section>
                        <h3>Great Books</h3>
                        <ul class="links">
                            <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
                            <li><a href="#">Ornare in hendrerit in lectus</a></li>
                            <li><a href="#">Semper mod quis eget mi dolore</a></li>
                            <li><a href="#">Consequat etiam lorem phasellus</a></li>
                            <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
                            <li><a href="#">Semper mod quisturpis nisi</a></li>
                        </ul>
                    </section>

                </div>
            </div>
            <div class="8u  12u(narrower) important(narrower)">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                    <h2>Drink</h2>
                </header>

                <span class="image featured"><img src="images/banner.jpg" alt="" /></span>

                <p>We won’t lie that we often clean out the fridge by shoving everything left into the juicer and hoping that a thumb-sized piece of ginger will be all that we taste.  There some debate over whether its better to juice (easy to digest!) or blend (you still get fiber!) but we won’t take sides on this one. Theres a sea of books and blog recipes on how to juice, blend or frappe your way to optimal plant based health and here are some of our favorites. </p>

                <p>Our special AM treat is to take about six navel oranges with a roughly half a pint of strawberries and put them in the  juicer. We cannot promise that we haven’t tried this with alcohol for a special occasion or two! This super simple juice creates a sweet alternative to a carton of pulpy store bought orange juice.</p>

                <p>When we are feeling like we need a big smoothie to replace a meal or help hit the road quickly we like to make this  salad smoothie.  We fill the blender to the top with whatever fresh greens we have.  We add a scoop a plant based meal replacement and for this we prefer Raw Meal or Vega One.  Then add in a large scoop of almond butter and frozen mixed berries OR frozen mango, banana and pineapple.</p>

                <p>In place of a dessert we frequently turn to this smoothie which has all a lot of the flavors of a oatmeal cookie- but none of the butter.  We use a cup of old-fashioned oats, one frozen banana, four pitted dates, one scoop of vanilla protein powder (we like PlantFusion), cinnamon and nutmeg to taste and one cup of unsweetened vanilla almond milk.  You won't even miss the cookies.</p>
            </article>

        </div>
                </div>
    </div>
</section>
