
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <div class="4u 12u(narrower)">
                <div id="sidebar">

                    <!-- Sidebar -->
                    <section>
                        <h3>Great Books</h3>
                        <ul class="links">
                            <li><a href="http://www.amazon.com/Thrive-Nutrition-Optimal-Performance-Sports/dp/0738212547/ref=sr_1_2?s=books&ie=UTF8&qid=1426914466&sr=1-2&keywords=thrive">Thrive</a></li>
                            <li><a href="http://www.amazon.com/Square-Foot-Gardening-Second-Revolutionary/dp/1591865484/ref=sr_1_1?s=books&ie=UTF8&qid=1426914502&sr=1-1&keywords=mels+garden">Square Foot Gardening</a></li>
                            <li><a href="http://www.amazon.com/Lipsmackin-Vegetarian-Backpackin-Christine-Conners/dp/0762725311/ref=sr_1_2?s=books&ie=UTF8&qid=1426947295&sr=1-2&keywords=vegan+backpacking">Vegan Backpacking Recipes</a></li>
                        </ul>
                    </section>

                </div>
            </div>
            <div class="8u  12u(narrower) important(narrower)">
                <div id="content">

                    <!-- Content -->

                    <article>
                        <header>
                            <h2>Play</h2>
                        </header>

                        <span class="image featured"><img src="images/hiking.jpg" alt="" /></span>

                        <p>It may seem odd to see a section on a site about plant based eating about playing until you realize how much more energy your body has to do exactly that.  It feels like different energy too.  You won’t find yourself feeling bogged down or ready for a nap the way you would after eating a cheeseburger and fries.  We both experienced immense weight loss and found an unexpected love of running along the way. </p>

                        <p>Many of our adventures take us outdoors and we mastered the art of packing a veggie-based cooler for a weekend road trip as well as for camping.  When we hit the open road we like to make sure we have our shaker bottle and meal replacement powders on hand so no one gets hangry while driving past the 30th McDonalds. We also pack hummus with pita, carrots, bell pepper and cucumber. A tub of almond butter provides a great topper for bananas and sliced apples (or my personal favorite a spoon).  We premake oatmeal  by soaking it overnight in unsweetened vanilla almond milk and packets of seaweed fill the void of salty truckstop chips.</p>

                        <p>One of our favorite ways our plant based diet has impacted our play time is by inspiring us to grow our own food. We started using a few small garden boxes in the back yard, picked a few plants we loved to eat and were so surprised to find how easy it was to do. Maybe its not having to battle for a parking space or stand in the check out line, but there is an amazingly rewarding feeling to walking in to the back yard to pick greens, tomatoes, carrots  and cucumbers for your salad. Thats our ultimate plant smile.</p>
                    </article>

                </div>
            </div>
        </div>
</section>
